.partners
    &-page
        display: flex
        flex-direction: column
        align-items: center

        > a
            color: black
            text-decoration: none
    &-card
        display: grid
        grid-template-areas: "photo text" "btn text"
        grid-template-rows: 480px
        max-width: 900px

        &__img
            grid-area: photo
            max-width: 300px
            max-height: 450px
            margin-top: 15px

        &__text
            grid-area: text
            white-space: pre-line
            margin-left: 15px

        &__title
            grid-area: title
            margin-top: 15px

        &__btn
            grid-area: btn
            max-height: 40px

        &__video
            grid-area: video
    
    &__link
        position: fixed
        bottom: 10px
        right: 10px

    &__rules
        width: 100%
        height: 100%

    &__svg, &__svg_2
        width: 70px
        height: 70px
        position: fixed
        bottom: 10px
        left: 10px
        display: flex
        justify-content: center
        padding: 15px
        border-radius: 50%
        background: white

    &__svg_2
        bottom: 85px